<a class="item_card" href="/birds/<%- bird.bird_id %>" title="Go to <%= bird.primary_name %>">
    <div class="image_container">
        <% if (bird.filename == null) { %>
        <img src="/images/no-image.png" alt="<%= bird.primary_name %>/<%= bird.english_name %>. Credit: <%= bird.photographer %>">
        <% } else { %>
        <img src="/images/<%= bird.filename %>" alt="<%= bird.primary_name %>/<%= bird.english_name %>. Credit: <%= bird.photographer %>">
        <% } %>
        <span><img class="camera_logo" src="/assets/images/camera-solid.svg" alt="Camera Logo"><%= bird.photographer %></span>
    </div>
    <div class="description">
        <div class="item_card_name">
            <span><%= bird.primary_name %></span>
            <hr>
            <span><%= bird.english_name %></span>
        </div>
        <hr>
        <table class="properties">
            <tr><td class="row_name">Scientific Name</td><td><%= bird.scientific_name %></td></tr>
            <tr><td class="row_name">Family</td><td><%= bird.family %></td></tr>
            <tr><td class="row_name">Order</td><td><%= bird.order_name %></td></tr>
            <tr><td class="row_name">Status</td><td><%= bird.status_name %></td></tr>
            <tr><td class="row_name">Length</td><td><%= bird.length %> cm</td></tr>
            <tr><td class="row_name">Weight</td><td><%= bird.weight %> g</td></tr>
        </table>

        <div class="item_card-controls">
            <button type="button" class="bird-edit-button" birdid="<%- bird.bird_id %>">Edit</button>
            <button type="button" class="bird-delete-button" birdid="<%- bird.bird_id %>">Delete</button>
        </div>
    </div>
    <div class="dot_over">
        <div class="color_id <%= bird.status_css_tag_partial %>-bg"></div>
    </div>
</a>